@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --Very-Dark-Grayish-Blue: #48556a;
    --Desaturated-Dark-Blue: #6d7f97;
    --Grayish-Blue: #9eafc2;
    --Light-Grayish-Blue: #ecf2f8;

    --Font-Size: 13px;
    --Font-Weight-medium: 500;
    --Font-Weight-bold: 700;
    --Font-Family: "Manrope", sans-serif;

    --Spacing-32: 32px;
    --Spacing-12: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Font-Family);
    font-size: var(--Font-Size);
}

img {
    width: 100%;
}

body {
    background-color: var(--Light-Grayish-Blue);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    width: 100%;
}

.content {
    background-color: white;
    margin-left: var(--Spacing-32);
    margin-right: var(--Spacing-32);
}

.content-img img {
    height: 200px;
    object-fit: cover;
}

.content-text {
    margin-bottom: var(--Spacing-32);
}

.content-text h1 {
    font-size: 16px;
    font-weight: var(--Font-Weight-bold);
    line-height: 24px;
    letter-spacing: 0.2px;
}

.content-text p {
    letter-spacing: 0.12px;
    line-height: 20px;
}

.content-author {
    display: grid; 
  grid-template-columns: 0.4fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "author-img author-name content-button"
    "author-img author-date content-button"; 

  align-items: center; 
}

.author-img {
    grid-area: author-img; 

}

.author-date {
    justify-self: start; 
    align-self: end; 
    grid-area: author-date;
}


.author-name {
    justify-self: start; 
    align-self: flex-start; 
    grid-area: author-name; 
}

.content-button {
    justify-self: end; 
    grid-area: content-button; 
}

.author-img img{
    width: 2.5rem;
    border-radius: 50%;

    margin: 0 auto;
}

.info-block {
    padding: 36px 32px 20px;
}

.shape-button {
    background-color: #ECF2F8;
    border-radius: 50%;
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}