@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --Very-Dark-Grayish-Blue: #48556a;
    --Desaturated-Dark-Blue: #6d7f97;
    --Grayish-Blue: #9eafc2;
    --Light-Grayish-Blue: #ecf2f8;

    --Font-Size: 13px;
    --Font-Weight-medium: 500;
    --Font-Weight-bold: 700;
    --Font-Family: "Manrope", sans-serif;

    --Spacing-32: 2rem;
    --Spacing-40: 2.5rem;
    --Spacing-12: 12px;
    --Border-Radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Font-Family);
    font-size: 16px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

img {
    width: 100%;
}

body {
    background-color: var(--Light-Grayish-Blue);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    width: 100%;
}

.content {
    position: relative;
    background-color: white;
    margin-left: var(--Spacing-32);
    margin-right: var(--Spacing-32);
    font-size: var(--Font-Size);;

    border-radius: 10px;
    /* overflow: hidden; */

    max-width: 400px;
}

.content-img img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content-text {
    margin-bottom: var(--Spacing-32);
}

.content-text h1 {
    font-size: 16px;
    font-weight: var(--Font-Weight-bold);
    line-height: 24px;
    letter-spacing: 0.2px;

    padding-bottom: 12px;
}

.content-text p {
    letter-spacing: 0.12px;
    line-height: 20px;
    color:var(--Desaturated-Dark-Blue)
}

.content-author {
    display: grid; 
    grid-template-columns: 2rem 1fr 0.4fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 0rem 1rem;
    grid-template-areas: 
        "author-img author-name content-button"
        "author-img author-date content-button"; 

    align-items: center; 
}

.author-img {
    grid-area: author-img; 

}

.author-date {
    justify-self: start; 
    align-self: end; 
    grid-area: author-date;

    color: var(--Grayish-Blue);
}


.author-name {
    justify-self: start; 
    align-self: flex-start; 
    grid-area: author-name; 

    color: var(--Very-Dark-Grayish-Blue);
    font-weight: var(--Font-Weight-bold);
}

.content-button {
    justify-self: end; 
    grid-area: content-button; 

    cursor: pointer;
}

.author-img img{
    width: 2.5rem;
    border-radius: 50%;

    margin: 0 auto;
}

.info-block {
    padding: 36px 32px 20px;
}

.shape-button {
    position: relative;
    background-color: #ECF2F8;
    border-radius: 50%;
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.display-none {
    display: none;
}

.social-media-placeholder {
    display: flex; /* in js i'll change to flex */
    border-bottom-right-radius: var(--Border-Radius);
    border-bottom-left-radius: var(--Border-Radius);

    position: absolute;
    bottom: 0;
    left: 0;
    height: 15%;
    background-color: #48556a;
    width: 100%;

    z-index: 2;
}

.social-wrapper {
    display: flex;
    margin-left: var(--Spacing-32);
    
    align-items: center;
}

.social-media-placeholder svg{
    display: block;
    width: 20px;
    height: 20px;

    margin-right: 1rem;

    cursor: pointer;
}

.social-media-placeholder svg:hover path{
    fill: #aeaeae;
}

.text-share {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: 21px;

    color: var(--Grayish-Blue);
}

.shape-button-open, .shape-button-open path{
    background-color: #6E8098;
    fill: white;
}


@media screen and (min-width: 48rem) {
    .content {
        position: relative;
        display: flex;
        flex-direction: row;

        max-width: 45.625rem;
        z-index: 1;
    }

    .content-img img  {
        height: 100%;
        width: 17.813rem;

        border-top-right-radius: 0;
        border-top-left-radius: var(--Border-Radius);
        border-bottom-left-radius: var(--Border-Radius);

        object-position: left;
    }

    .info-block {
        padding: var(--Spacing-32) var(--Spacing-40);
    }
    
    .content-text h1 {
        font-size: 1.25rem;
        
    }
    
    .content-text p {
        padding-bottom: 1.25rem;
    }

    .social-media-placeholder {
        left: 34.375rem;
        bottom: 5.25rem;

        height: 3.438rem;
        width: 15.5rem;
        z-index: 2;
        
        border-radius: var(--Border-Radius);
    }
}